BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_FPU_NEON=y

# toolchain
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="https://toolchains.bootlin.com/downloads/releases/toolchains/armv7-eabihf/tarballs/armv7-eabihf--musl--stable-2018.02-2.tar.bz2"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="arm-buildroot-linux-musleabihf"
BR2_TOOLCHAIN_EXTERNAL_REL_BIN_PATH="bin"
BR2_TOOLCHAIN_EXTERNAL_GCC_6=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_1=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_MUSL=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y

BR2_TARGET_GENERIC_HOSTNAME="hdzgoggle"
BR2_TARGET_GENERIC_ISSUE="HDZGOGGLE"

BR2_ENABLE_DEBUG=y
BR2_ENABLE_RUNTIME_DEBUG=y

#kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/bkleiner/hdzero-goggle-linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="1a197517af68d08e99b2fcca91110c391be67b35"
BR2_LINUX_KERNEL_DEFCONFIG="hdzgoggle"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_LZO=y
BR2_LINUX_KERNEL_UIMAGE_LOADADDR="0X40008000"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="hdzero_goggle"

#packages
BR2_PER_PACKAGE_DIRECTORIES=y
BR2_PACKAGE_LINUX_TOOLS_GPIO=y
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_BUSYBOX_INDIVIDUAL_BINARIES=y
BR2_PACKAGE_GDB_SERVER=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_HDZGOGGLE=y

# rootfs config
BR2_TARGET_ROOTFS_SQUASHFS=y
# BR2_TARGET_ROOTFS_TAR is not set

# Tools to build sdcard.img
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_HOST_DOS2UNIX=y
BR2_PACKAGE_HOST_HDZERO_TOOLS=y

BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_HDZGOGGLE_PATH)/board/hdzgoggle/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_HDZGOGGLE_PATH)/board/hdzgoggle/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_HDZGOGGLE_PATH)/board/hdzgoggle/post-image.sh"