BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_FPU_NEON=y
BR2_TOOLCHAIN_BUILDROOT_MUSL=y

BR2_KERNEL_HEADERS_4_9=y

BR2_TOOLCHAIN_BUILDROOT_CXX=y

BR2_TARGET_GENERIC_HOSTNAME="hdzgoggle"
BR2_TARGET_GENERIC_ISSUE="HDZGOGGLE"

BR2_PER_PACKAGE_DIRECTORIES=y
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_BUSYBOX_INDIVIDUAL_BINARIES=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_NANO=y

# rootfs config
BR2_TARGET_ROOTFS_SQUASHFS=y
# BR2_TARGET_ROOTFS_TAR is not set

# Tools to build sdcard.img
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y

BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_HDZGOGGLE_PATH)/board/hdzgoggle/post-image.sh"